<html>
<head>
	<title>OAuth App</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<div class="link-to">LOGIN:</div>

	<div class="link-to">
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Facebook</h3>
				<pre>
					<%= user.fb %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/facebook"><i class="fa fa-facebook-official fa-3x"></i></a>
		<% } %>
	</div>


	<div class="link-to">
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Github</h3>
				<pre>
					<%= user.gh %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/github"><i class="fa fa-github-square fa-3x"></i></a>
		<% } %>
	</div>

	<div class="link-to">
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Twitter</h3>
				<pre>
					<%= user.twit %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/twitter"><i class="fa fa-twitter-square fa-3x"></i></a>
		<% } %>
	</div>


	<div class="link-to">
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Google</h3>
				<pre>
					<%= user.goog %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/google"><i class="fa fa-google-plus-square fa-3x"></i></a>
		<% } %>
	</div>

<!-- TWITTER FEED -->
	<div class="feed"><h3>Twitter Feed</h3>
		
		<div id="twit_search">
			<form id="search-form" action="/feeds" method="get">
				<input type="text" name="search" id="search" value="" placeholder="Bananas" />
				<button id="search-button">Go!</button>
			</form>
		</div>

		<div id="twit_feed">
			Number of tweets to show: <%= tweets.count %> <br>
			Tweets:
			<ul>
				<% for(var i=0; i<tweets.count; i++) {%>
				   <li><%= tweets.list[i].text %></li>
				<% } %>
			</ul>

		</div>
	</div>


<!-- INSTAGRAM FEED -->
	<div class="feed"><h3>Top 7 Most Popular Instagram Feeds</h3>
		<div id="insta_feed">
		Img:
			<% for(var i=0; i<show_grams.length; i++) {%>
				   <img src="<%= show_grams[i] %>" style="border-radius: 50%"/>
			<% } %>
		</div>
	</div>

<!-- YOUTUBE FEED -->
	<div class="feed">
		<form id="tube-form" action="/" method="get">
			<input type="text" name="search" id="tubesearch" value="" placeholder="Kittens" />
			<button id="tube-button">Search!</button>
		</form>
		<h3>Top 7 Videos on YouTube</h3>
		<div id="youtube_feed">
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var youtubes = $.get('https://www.googleapis.com/youtube/v3/videos?part=id,player&maxResults=7&chart=mostPopular&key=AIzaSyCbVPyvwNghVUScGrY6l-vEc4R_O5msLAU').done(function(responseJSON) {
				console.log(responseJSON);
				for (var i = 0; i < responseJSON.items.length; i++) {
					$('#youtube_feed').append(
						responseJSON.items[i].player.embedHtml
						);
				}
			})
		})

		$('#tube-button').click(function (e) {
			e.preventDefault();
			var youtubes = $.get('https://www.googleapis.com/youtube/v3/search?part=snippet&maxResults=7&q=' + $('#tubesearch').val() + '&key=AIzaSyCbVPyvwNghVUScGrY6l-vEc4R_O5msLAU').done(function(responseJSON) {
				console.log(responseJSON);
				$('#youtube_feed').empty();
				for(var i = 0; i < responseJSON.items.length; i++) {
					$('#youtube_feed').append(
						'<iframe width="640" height="360" src="//www.youtube.com/embed/' + responseJSON.items[i].id.videoId + '" frameborder="0" allowfullscreen></iframe>'
						);
				}
			});
		});
	</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/youtube.js"></script>
</body>
</html>
