<html>
<head>
	<title>OAuth App</title>
	<style> 
		.link-to {
			width: 10%;
			float: left;
			padding: 10px;
			margin-bottom: 50px;
		}
	</style>
</head>
<body>


	<div class="link-to">
	<h2>Login via Facebook</h2>
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Facebook</h3>
				<pre>
					<%= user.fb %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/facebook">Login with Facebook</a>
		<% } %>
	</div>


	<div class="link-to">
	<h2>Login via Github</h2>
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Github</h3>
				<pre>
					<%= user.gh %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/github">Login with Github</a>
		<% } %>
	</div>

	<div class="link-to">
	<h2>Login via Twitter</h2>
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Twitter</h3>
				<pre>
					<%= user.twit %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/twitter">Login with Twitter</a>
		<% } %>
	</div>


	<div class="link-to">
	<h2>Login via Google</h2>
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Google</h3>
				<pre>
					<%= user.goog %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/google">Login with Google</a>
		<% } %>
	</div>

	<hr>

<!-- TWITTER FEED -->
	<div style="clear:both"><h3>Twitter Feed on Bananas</h3>
		<div id="twit_feed">
			Number of tweets to show: <%= tweets.count %> <br>
			Tweets:
			<ul>
				<% for(var i=0; i<tweets.count; i++) {%>
				   <li><%= tweets.list[i].text %></li>
				<% } %>
			</ul>

		</div>
	</div>


<!-- INSTAGRAM FEED -->
	<div style="clear:both"><h3>Instagram Feed on ?</h3>
		<div id="insta_feed">
		Img:
			<ul>
				<img src="<%= image %>" />
			</ul>

		</div>
	</div>



</body>
</html>