<html>
<head>
	<title>OAuth App</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

	<div class="link-to">LOGIN:</div>

	<div class="link-to">
		<% if(user != undefined) { %>
				<h3>Below is the data sent by Facebook</h3>
				<pre>
					<%= user.fb %>
				</pre>
				<a href="/logout">Logout</a>
			<% } else { %> 
				<a href="/auth/facebook"><i class="fa fa-facebook-official fa-3x"></i></a>
		<% } %>
	</div>



<!-- SEARCH BAR -->
		<div id="twit_search">
			<form id="search-form" action="/feeds" method="get">
				<input type="text" name="search" id="search" value="" placeholder="Bananas" />
				<button id="search-button">Give it to me!</button>
			</form>
		</div>

	

<!-- INSTAGRAM and TWITTER FEEDS -->

<div class="parallax">

		<div id="insta_feed">
			<% for(var i=0; i<show_count; i+=3) {%>
				   
				   <div class="parallax_layer parallax_layer-back"><img class="instagram-pic" src="<%= show_grams[i] %>"/><img class="frame" src="images/polaroid.png" /></div>

				   <div class="tweet parallax_layer parallax_layer-base"><p class="twit"><%= tweets.list[i].text %></p></div>

				   <div class="parallax_layer parallax_layer-back" style="margin: 250px"><img class="instagram-pic" src="<%= show_grams[i+=1] %>"/><img class="frame" src="images/polaroid.png" /></div>

				   <div class="tweet parallax_layer parallax_layer-base" style="margin: 450px"><p class="twit"><%= tweets.list[i+=1].text %></p></div>

			<% } %>
		</div>
	</div>

<!-- YOUTUBE FEED -->
	<div class="feed">
		<h3>YouTube Feed</h3>
		<div id="youtube_feed">
		</div>
	</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/youtube.js"></script>
</body>
</html>
